**1. Import Libraries**

In [1]:
import pandas as pd

**2. Data Understanding**

Importing data.

In [2]:
links_df = pd.read_csv('Data/links.csv')

print(links_df.shape)
print(links_df.duplicated().sum())
print(links_df.isna().sum())
links_df.head()

(9742, 3)
0
movieId    0
imdbId     0
tmdbId     8
dtype: int64

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [3]:
movies_df = pd.read_csv('Data/movies.csv')

print(movies_df.shape)
print(movies_df.duplicated().sum())
print(movies_df.isna().sum())
movies_df.head()

(9742, 3)
0
movieId    0
title      0
genres     0
dtype: int64

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings_df = pd.read_csv('Data/ratings.csv')

print(ratings_df.shape)
print(ratings_df.duplicated().sum())
print(ratings_df.isna().sum())
ratings_df.head()

(100836, 4)
0
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
tags_df = pd.read_csv('Data/tags.csv')

print(tags_df.shape)
print(tags_df.duplicated().sum())
print(tags_df.isna().sum())
tags_df.head()

(3683, 4)
0
userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

**3. Explatory Data Analysis (EDA)**

Start with timestamp conversion on ratings and tags dataframes.

In [6]:
# Ratings_df
ratings_df['timestamp'] = pd.to_datetime(ratings_df['timestamp'], unit='s')

# Create different columns for the time stamp
ratings_df['year'] = ratings_df['timestamp'].dt.year
ratings_df['month'] = ratings_df['timestamp'].dt.month
ratings_df['day'] = ratings_df['timestamp'].dt.day
ratings_df['hour'] = ratings_df['timestamp'].dt.hour
ratings_df['minute'] = ratings_df['timestamp'].dt.minute
ratings_df['second'] = ratings_df['timestamp'].dt.second


ratings_df = ratings_df.drop(columns= ['timestamp'])
ratings_df.head()

   userId  movieId  rating  year  month  day  hour  minute  second
0       1        1     4.0  2000      7   30    18      45       3
1       1        3     4.0  2000      7   30    18      20      47
2       1        6     4.0  2000      7   30    18      37       4
3       1       47     5.0  2000      7   30    19       3      35
4       1       50     5.0  2000      7   30    18      48      51

In [7]:
# Tags_df
tags_df['timestamp'] = pd.to_datetime(tags_df['timestamp'], unit='s')

# Create different columns for the time stamp
tags_df['year'] = tags_df['timestamp'].dt.year
tags_df['month'] = tags_df['timestamp'].dt.month
tags_df['day'] = tags_df['timestamp'].dt.day
tags_df['hour'] = tags_df['timestamp'].dt.hour
tags_df['minute'] = tags_df['timestamp'].dt.minute
tags_df['second'] = tags_df['timestamp'].dt.second


tags_df = tags_df.drop(columns= ['timestamp'])
tags_df.head()

   userId  movieId              tag  year  month  day  hour  minute  second
0       2    60756            funny  2015     10   24    19      29      54
1       2    60756  Highly quotable  2015     10   24    19      29      56
2       2    60756     will ferrell  2015     10   24    19      29      52
3       2    89774     Boxing story  2015     10   24    19      33      27
4       2    89774              MMA  2015     10   24    19      33      20